:root{
  //couleurs bases
  --color-white: #FFF;
  --color-black: #000;

  //couleur du projets
  --color-link: #202C4A;
  --color-link-hover: #E53847;
  --color-visited-link: #8B8B97;
  --color-link-active:#E53847;

  --color-secondary:#E5E5E5;
  --color-bg-tertiaire:#202C4A;

  --color-gradient: linear-gradient(#62BDFC, #8490FF);
}